<div class="card">
    <div class="card-header card-no-border pb-0">
        <h3>Background Colors </h3>
        <p class="mt-1 mb-0">Using any component to add background color using <code>.bg-* </code>&
            <code>.alert-light-* </code>class.</p>
    </div>
    <div class="card-body">
        <div class="row g-3">
            <div class="col-sm-6 col-xl-4">
                <app-common-styles-background [data]="DarkBackgrounData"></app-common-styles-background>
            </div>
            <div class="col-sm-6 col-xl-4">
                <app-common-styles-background [data]="LightBackgroundsData"></app-common-styles-background>
            </div>
            <div class="col-sm-12 col-xl-4">
                <app-common-styles-background [data]="ExtendedBackgroundData"></app-common-styles-background>
            </div>
        </div>
    </div>
</div>