<div class="card">
    <div class="card-header">
        <h3>Filled Tooltip</h3>
        <p class="mt-1 mb-0">Fill the btn on the hover effect with the help of <code>.btn-outline </code>class.</p>
    </div>
    <div class="card-body fill-tooltip">
        <div class="common-flex">
            <button class="btn btn-outline-primary mb-0 me-0" type="button" placement="top"
                ngbTooltip="Tooltip Primary">Tooltip Primary</button>
            <button class="btn btn-outline-secondary mb-0 me-0" type="button" placement="top"
                ngbTooltip="Tooltip Secondary">Tooltip Secondary</button>
            <button class="btn btn-outline-success mb-0 me-0" type="button" placement="top"
                ngbTooltip="Tooltip Success">Tooltip Success</button>
            <button class="btn btn-outline-info mb-0 me-0" type="button" placement="top"
                ngbTooltip="Tooltip Info">Tooltip Info</button>
        </div>
    </div>
</div>