<div class="card">
    <div class="card-header">
        <h3>Custom checkbox</h3>
        <p class="mt-1 mb-0">Use the <code>.form-check-input  </code>and <code>.form-check-label  </code>for checkbox.
            And filled checkbox used</p>
    </div>
    <div class="card-body">
        <div class="row g-3">
            <div class="col-xl-4 col-sm-6">
                <div class="card-wrapper border rounded-3 h-100 checkbox-checked custom-checkbox">
                    <h6 class="sub-title">Bordered Checkbox</h6>
                    @for( item of borders; track item){
                    <div class="form-check checkbox checkbox-primary mb-0">
                        <input class="form-check-input {{item.class}}" id="{{item.for}}" type="checkbox"
                            [(ngModel)]="item.value">
                        <label class="form-check-label" for="{{item.for}}"> {{item.text}}</label>
                    </div>
                    }
                </div>
            </div>
            <div class="col-xl-4 col-sm-12 order-xl-0 order-sm-1">
                <div class="card-wrapper border rounded-3 h-100">
                    <h6 class="sub-title">Icon Checkbox </h6>
                    <div class="form-check checkbox checkbox-primary ps-0 main-icon-checkbox">
                        <ul class="checkbox-wrapper">
                            @for(item of icons; track item){
                            <li>
                                <input class="form-check-input checkbox-shadow" id="{{item.for}}" type="checkbox"
                                    [(ngModel)]="item.value">
                                <label class="form-check-label" for="{{item.for}}">
                                    <i class="{{item.icon}}"></i>
                                    <span>{{item.text}}</span></label>
                            </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6">
                <div class="card-wrapper border rounded-3 h-100 checkbox-checked filled-checkbox">
                    <h6 class="sub-title">Filled Checkbox </h6>
                    @for(item of filled; track item){
                    <div class="form-check checkbox checkbox-{{item.class}}">
                        <input class="form-check-input" id="{{item.for}}" type="checkbox" [(ngModel)]="item.value">
                        <label class="form-check-label" for="{{item.for}}">{{item.text}} </label>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>