<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h3>Custom radio </h3>
            <p class="mt-1 mb-0">
                Use the<code>.form-check-input </code>and <code>.form-check-label </code>for radios.</p>
        </div>
        <div class="card-body checkbox-checked">
            <div class="row g-3">
                <div class="col-xl-4 col-sm-6">
                    <div class="card-wrapper border rounded-3 h-100 custom-radio">
                        <h6 class="sub-title">Bordered Radio</h6>
                        @for( Data of borderData; track Data){
                        <div class="form-check radio radio-{{ Data.class }}">
                            <input class="form-check-input" id="{{Data.id}}" type="radio" name="radio1"
                                [checked]="Data.check">
                            <label class="form-check-label" for="{{Data.id}}">{{Data.text}}</label>
                        </div>
                        }
                    </div>
                </div>
                <div class="col-xl-4 col-sm-12 order-xl-0 order-sm-1">
                    <div class="card-wrapper border rounded-3 h-100 icon-radio">
                        <h6 class="sub-title">Icons Radio</h6>
                        <div class="form-check radio radio-primary ps-0">
                            <ul class="radio-wrapper">
                                @for( Data of iconData; track Data){
                                <li>
                                    <input class="form-check-input" id="{{Data.id}}" type="radio" name="radio2"
                                        [checked]="Data.check">
                                    <label class="form-check-label" for="{{Data.id}}">
                                        <i class="fa fa-{{Data.icon}}"></i>
                                        <span>{{Data.text}}</span>
                                    </label>
                                </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-sm-6">
                    <div class="card-wrapper border rounded-3 fill-radio">
                        <h6 class="sub-title fw-bold">Filled Radio</h6>
                        <form>
                            @for( Data of filledData; track Data){
                            <label class="d-block" for="{{Data.id}}">
                                <input class="radio radio-{{Data.class}} radio-border-{{Data.class}}" id="{{Data.id}}"
                                    type="radio" name="radio-animation" [checked]="Data.check">{{Data.text}}
                            </label>
                            }
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>