<div class="card">
    <div class="card-header">
        <h3> Dropdown Sizing</h3>
        <p class="mt-1 mb-0">When the<code>.show</code>class starts, dropdown appears.
            And<code>[.btn-lg/.btn-sm]</code>class through button size changed.</p>
    </div>
    <div class="card-body rtl-dropdown">
        <div class="common-flex align-items-center">
            <div class="btn-showcase" ngbDropdown>
                <button class="btn btn-info light btn-lg dropdown-toggle" type="button" ngbDropdownToggle>Large button
                </button>
                <ul class="dropdown-menu dropdown-block" ngbDropdownMenu>
                    <li><a class="dropdown-item" href="javascript:void(0)" ngbDropdownItem>Small button</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0)" ngbDropdownItem>Medium button </a></li>
                    <li><a class="dropdown-item" href="javascript:void(0)" ngbDropdownItem>Large button </a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="javascript:void(0)" ngbDropdownItem>Very large button </a></li>
                </ul>
            </div>
            <div class="btn-showcase" ngbDropdown>
                <button class="btn btn-dark light btn-sm dropdown-toggle" type="button" ngbDropdownToggle>Small button
                </button>
                <ul class="dropdown-menu dropdown-block" ngbDropdownMenu>
                    <li><a class="dropdown-item" href="javascript:void(0)" ngbDropdownItem>Small button </a></li>
                    <li><a class="dropdown-item" href="javascript:void(0)" ngbDropdownItem>Very small button</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0)" ngbDropdownItem>Extra small button </a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="javascript:void(0)" ngbDropdownItem>Extra extra small</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>