<div class="card">
    <div class="card-header">
        <h3>Avatar Ping</h3>
        <p class="mb-0 mt-1">To set ping animation use<code> .ping     </code> class. </p>
    </div>
    <div class="card-body avatar-showcase">
        <div class="avatars">
            @for( data of avatarPing;track data){
            <div class="avatar">
                <img class="{{ data.class }} rounded-circle" src="{{ data.img }}" alt="avatar">
                <div class="ping status-offline status"></div>
            </div>
            }
        </div>
    </div>
</div>