<div class="card">
    <div class="card-header">
        <h3>Basic Example</h3>
        <p class="mt-1 mb-0">
            Print the basic message.</p>
    </div>
    <div class="card-body">
        <div class="common-flex">
            <button class="btn btn-primary sweet-1" type="button" (click)="basicAlert()">Click it!</button>
            <button class="btn btn-secondary sweet-2" type="button" (click)=" withTitle()">Title with text!</button>
            <button class="btn btn-info sweet-4" type="button" (click)="informational()">Informational</button>
            <button class="btn btn-warning text-light sweet-5" type="button" (click)="withCancelled()">Warning alert!</button>
        </div>
    </div>
</div>