<div class="container-fluid">
    <div class="row">
        <div class="col-xl-6">
            <app-basic-dropdown></app-basic-dropdown>
        </div>
        <div class="col-xl-6">
            <app-rounded-dropdown></app-rounded-dropdown>
        </div>
        <div class="col-xl-12">
            <app-split-dropdown></app-split-dropdown>
        </div>
        <div class="col-xl-4">
            <app-heading-dropdown></app-heading-dropdown>
        </div>
        <div class="col-xl-4">
            <app-input-dropdown></app-input-dropdown>
        </div>
        <div class="col-xl-4">
            <app-dark-dropdown></app-dark-dropdown>
        </div>
        <div class="col-xl-6">
            <app-unique-dropdown></app-unique-dropdown>
        </div>
        <div class="col-xl-6">
            <app-justify-content-dropdown></app-justify-content-dropdown>
        </div>
        <div class="col-xl-6">
            <app-alignments></app-alignments>
        </div>
        <div class="col-xl-6">
            <app-helper-dropdown></app-helper-dropdown>
        </div>
        <div class="col-xl-6">
            <app-divider-dropdown></app-divider-dropdown>
        </div>
        <div class="col-xl-6">
            <app-sizing-dropdown></app-sizing-dropdown>
        </div>
    </div>
</div>