<div class="card">
    <div class="card-header pb-0">
        <h3>Font-Style</h3>
        <p class="mt-1 mb-0">To set different font-style use
            <code> .f-s-*[normal/italic/oblique/initial/inherit]  </code>class.</p>
    </div>
    <div class="card-body helper-font">
        <p class="fw-normal mb-2">This is a <b>.f-s-normal </b> font-style </p>
        <p class="fst-italic mb-2">This is a <b>.f-s-italic </b> font-style</p>
        <p class="f-s-oblique mb-2">This is a <b>.f-s-oblique </b> font-style</p>
        <p class="f-s-inherit">This is a <b>.f-s-inherit </b> font-style</p>
    </div>
</div>