<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <app-simple-example></app-simple-example>
        </div>
        <div class="col-md-6">
            <app-sizing></app-sizing>
        </div>
        <div class="col-md-6">
            <app-basic-input-control></app-basic-input-control>
        </div>
        <div class="col-md-6">
            <app-flat-style></app-flat-style>
        </div>
        <div class="col-md-6">
            <app-edges-style></app-edges-style>
        </div>
        <div class="col-md-6">
            <app-raise-style></app-raise-style>
        </div>
    </div>
</div>