<div class="card height-equal">
    <div class="card-header card-no-border pb-0">
        <div class="header-top">
            <h3>News & Update</h3>
            <div class="dropdown icon-dropdown">
                <button class="btn" id="userdropdown8" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i
                        class="fa-solid fa-ellipsis"></i></button>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="userdropdown8"><a class="dropdown-item"
                        href="#">Weekly</a><a class="dropdown-item" href="#">Monthly</a><a class="dropdown-item"
                        href="#">Yearly</a></div>
            </div>
        </div>
    </div>
    <div class="card-body news-update">
        <ul>
            @for( data of NewsUpdate;track data){
            <li class="d-flex gap-2">
                <div class="flex-shrink-0">
                    <img class="img-fluid" src="{{ data.img }}" alt="" />
                </div>
                <div class="flex-grow-1">
                    <a href="private-chat.html">
                        <h6>{{ data.title }}</h6>
                    </a>
                    <p class="text-truncate">{{ data.des }}</p>
                </div>
                <span>{{ data.hours }} hours</span>
            </li>
            }
        </ul>
    </div>
</div>