<div class="card">
    <div class="card-header">
        <h3>HTML Elements With Tooltip </h3>
        <p class="mt-1 mb-0">Use html element with the help of <code>data-bs-title="".</code></p>
    </div>
    <div class="card-body">
        <div class="common-flex">
            <button class="btn btn-primary mb-0 me-0" type="button" placement="top" ngbTooltip="Thank you">Notifications
                Received</button>
            <button class="btn btn-warning mb-0 me-0" type="button" placement="top" ngbTooltip="Thank you">Last
                Warning</button>
            <button class="btn btn-danger mb-0 me-0" type="button" placement="top" ngbTooltip="Thank you">It&apos;s
                Danger</button>
            <button class="btn btn-info mb-0 me-0" type="button" placement="top" ngbTooltip="Thank you">Coming
                soon</button>
        </div>
    </div>
</div>