<div class="card">
    <div class="card-header card-no-border pb-0">
      <h3>Text Colors</h3>
      <p class="mt-1 mb-0">Give the text color using<code>.font-*</code> class.</p>
    </div>
    <div class="card-body">
      <div class="d-flex align-items-center mb-2 gap-2">
        <div class="font-primary">This is a <b>font-primary </b>text used class as .font-primary</div>
      </div>
      <div class="d-flex align-items-center mb-2 gap-2">
        <div class="font-secondary">This is a <b>font-secondary </b>text used class as .font-secondary</div>
      </div>
      <div class="d-flex align-items-center mb-2 gap-2">
        <div class="font-success">This is a <b>font-success </b>text used class as .font-success</div>
      </div>
      <div class="d-flex align-items-center mb-2 gap-2">
        <div class="font-warning">This is a <b>font-warning </b>text used class as .font-warning</div>
      </div>
      <div class="d-flex align-items-center mb-2 gap-2">
        <div class="font-danger">This is a <b>font-danger </b>text used class as .font-danger</div>
      </div>
      <div class="d-flex align-items-center mb-2 gap-2">
        <div class="font-info">This is a <b>font-info </b>text used class as .font-info</div>
      </div>
    </div>
  </div>