<div class="card">
    <div class="card-header pb-0 card-no-border">
        <h3>Advance Sweetalert</h3>
        <p class="mt-1 mb-0">
            Print the title with text.</p>
    </div>
    <div class="card-body">
        <div class="common-flex">
            <button class="btn btn-warning text-light sweet-12" type="button" (click)="Questions()">Questions state</button>
            <button class="btn btn-secondary sweet-13" type="button" (click)="toast()">Toast Alert</button>
        </div>
    </div>
</div>