<div class="card target-card overflow-hidden">
    <div class="card-header card-no-border">
        <ul>
            <li class="bg-light-primary text-center">
                <h3>Our Target</h3>
                <p class="mb-0">Completed</p>
                <h6 class="font-primary">$638.930</h6>
            </li>
            <li class="bg-primary text-center">
                <h3>We Archieve</h3>
                <p class="mb-0">Completed 2 Hours</p>
                <h6>$638.930</h6>
            </li>
        </ul>
    </div>
    <div class="card-body p-0">
        <div class="main-img"><img class="img-fluid img-banner" src="assets/images/dashboard-2/4.png" alt="" />
            <ul class="animate-img">
                <li class="right-1"> <img class="img-fluid" src="assets/images/dashboard-2/animate/1.png" alt="" />
                </li>
                <li class="right-2"> <img class="img-fluid" src="assets/images/dashboard-2/animate/2.png" alt="" />
                </li>
                <li class="right-3"> <img class="img-fluid" src="assets/images/dashboard-2/animate/3.png" alt="" />
                </li>
                <li class="right-4"> <img class="img-fluid" src="assets/images/dashboard-2/animate/4.png" alt="" />
                </li>
                <li class="right-5"> <img class="img-fluid" src="assets/images/dashboard-2/animate/5.png" alt="" />
                </li>
            </ul>
        </div>
    </div>
</div>