<div class="container-fluid">
    <div class="row">
        <div class="col-xl-6">
            <app-live-toast></app-live-toast>
        </div>
        <div class="col-xl-6">
            <app-color-schemes></app-color-schemes>
        </div>
        <div class="col-xl-6">
            <app-stacking-toast></app-stacking-toast>
        </div>
        <div class="col-xl-6">
            <app-translucent-toast></app-translucent-toast>
        </div>
        <div class="col-xl-6">
            <app-default-toast></app-default-toast>
        </div>
        <div class="col-xl-6">
            <app-unique-toast></app-unique-toast>
        </div>
    </div>
</div>