<div class="card">
    <div class="card-header">
        <h3>Font Weight </h3>
        <p class="mt-1 mb-0">Using <code>.f-w-*[100/300/400/600/700/900]  </code>class set different font-weight.</p>
    </div>
    <div class="card-body">
        <div class="d-flex align-items-center mb-2 gap-2">
            <div class="f-w-100"><span>You can set light font weight heading .f-w-100</span></div>
        </div>
        <div class="d-flex align-items-center mb-2 gap-2">
            <div class="f-w-300"><span>You can set light font weight heading .f-w-300</span></div>
        </div>
        <div class="d-flex align-items-center mb-2 gap-2">
            <div class="f-w-400"><span>You can set light font weight heading .f-w-400</span></div>
        </div>
        <div class="d-flex align-items-center mb-2 gap-2">
            <div class="f-w-600"><span>You can set bolder font weight heading .f-w-600</span></div>
        </div>
        <div class="d-flex align-items-center mb-2 gap-2">
            <div class="f-w-700"><span>You can set bold font weight heading .f-w-700</span></div>
        </div>
        <div class="d-flex align-items-center gap-2">
            <div class="f-w-900"><span>You can set bold font weight heading .f-w-900</span></div>
        </div>
    </div>
</div>