<div class="card overflow-hidden"  (clickOutside)="clickOutside()">
    <div class="card-header card-no-border pb-0">
        <div class="header-top">
            <h3>Schedule a lesson</h3>
            <div class="dropdown icon-dropdown">
                <button class="btn" id="userdropdown4" type="button" (click)="open()">
                    <i class="fa-solid fa-ellipsis"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-end" [class.show]="isopen">
                    <a class="dropdown-item" href="javascript:void(0)">Weekly</a>
                    <a class="dropdown-item" href="javascript:void(0)">Monthly</a>
                    <a class="dropdown-item" href="javascript:void(0)">Yearly</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body p-0">
        <div class="default-datepicker">
            <div class="datepicker-here" data-language="en"> 
                <ngb-datepicker #dp (navigate)="date = $event.next"></ngb-datepicker>
            </div>
        </div>
    </div>
</div>
