<div class="card overflow-hidden">
    <div class="card-header card-no-border pb-0">
        <div class="header-top">
            <h3>Schedule a lesson</h3>
            <div class="dropdown icon-dropdown">
                <button class="btn" id="userdropdown02" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i
                        class="fa-solid fa-ellipsis"></i></button>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="userdropdown02"><a class="dropdown-item"
                        href="#">Weekly</a><a class="dropdown-item" href="#">Monthly</a><a class="dropdown-item"
                        href="#">Yearly</a></div>
            </div>
        </div>
    </div>
    <div class="card-body p-0">
        <div class="default-datepicker">
            <div class="datepicker-here" data-language="en"> 
                <ngb-datepicker #dp (navigate)="date = $event.next"></ngb-datepicker>
            </div>
        </div>
    </div>
</div>
