<div class="card">
    <div class="card-header">
        <h3 class="mb-0">Colored Headings</h3>
        <p class="mt-1 mb-0">All HTML headings, <code>&lt;h1&gt;</code> through <code>&lt;h6&gt;</code> are
            available.</p>
    </div>
    <div class="card-body">
        <div class="table-responsive custom-scroll">
            <table class="table mb-0 typography-table">
                <thead>
                    <tr>
                        <th class="pt-0">Code</th>
                        <th class="pt-0">Heading</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><code>&lt;h1&gt;&lt;/h1&gt;</code></td>
                        <td>
                            <h1><span class="text-primary"> Heading 1</span> Sub Heading</h1>
                        </td>
                    </tr>
                    <tr>
                        <td><code>&lt;h2&gt;&lt;/h2&gt;</code></td>
                        <td>
                            <h2><span class="text-secondary"> Heading 2</span> Sub Heading</h2>
                        </td>
                    </tr>
                    <tr>
                        <td><code>&lt;h3&gt;&lt;/h3&gt;</code></td>
                        <td>
                            <h3><span class="text-success"> Heading 3</span> Sub Heading</h3>
                        </td>
                    </tr>
                    <tr>
                        <td><code>&lt;h4&gt;&lt;/h4&gt;</code></td>
                        <td>
                            <h4><span class="text-info"> Heading 4</span> Sub Heading</h4>
                        </td>
                    </tr>
                    <tr>
                        <td><code>&lt;h5&gt;&lt;/h5&gt;</code></td>
                        <td>
                            <h5><span class="text-warning"> Heading 5</span> Sub Heading</h5>
                        </td>
                    </tr>
                    <tr>
                        <td class="pb-0"><code>&lt;h6&gt;&lt;/h6&gt;</code></td>
                        <td class="pb-0">
                            <h5><span class="text-danger"> Heading 6</span> Sub Heading</h5>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>