<div class="card">
    <div class="card-header card-no-border pb-0">
        <h3>Simple Breadcrumb </h3>
        <p class="mt-1 mb-0">
            Breadcrumb with page name </p>
    </div>
    <div class="card-body">
        <nav class="mb-0" aria-label="breadcrumb">
            <ol class="breadcrumb mb-1">
                <li class="breadcrumb-item">
                    <a href="javascript:void(0)">
                        <i class="iconly-Home icli pe-1"> </i>
                    </a> Home
                </li>
                <li class="breadcrumb-item">Bonus Ui </li>
                <li class="breadcrumb-item">Reting</li>
            </ol>
        </nav>
        <nav class="mb-0" aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-style3 mb-0">
                <li class="breadcrumb-item">
                    <a href="javascript:void(0)">
                        <i class="iconly-Home icli pe-1"> </i>
                    </a> Home
                </li>
                <li class="breadcrumb-item">
                    <a href="javascript:void(0)">
                        <i class="iconly-Info-Circle icli"></i>
                    </a> FAQ
                </li>
            </ol>
        </nav>
    </div>
</div>