<div class="card">
    <div class="card-header">
        <h4>Variation Timelinep</h4>
        <p class="mt-1 mb-0">
            Use the <code>.activity-dot-primary </code>through rounded animations.</p>
    </div>
    <div class="card-body dark-timeline">
        <ul>
            @for(data of variationTimelineData; track data){
            <li class="d-flex pb-0">
                <div class="activity-dot-{{data.class}}"></div>
                <div class="w-100 ms-3">
                    <p class="d-flex justify-content-between mb-2" [innerHTML]="data.time"></p>
                    <h6 class="f-w-600">{{ data.title}}<span class="dot-notification"></span></h6>
                    <p class="font-light">Quisque a consequat ante sit amet magna...</p>
                    @if(data.additem){
                    <div class="recent-images">
                        <ul>
                            <li>
                                <div class="recent-img-wrap"><img src="assets/images/dashboard-2/1.png" alt="chair">
                                </div>
                            </li>
                            <li>
                                <div class="recent-img-wrap"><img src="assets/images/dashboard-2/2.png" alt="chair">
                                </div>
                            </li>
                            <li>
                                <div class="recent-img-wrap"><img src="assets/images/dashboard-2/3.png"
                                        alt="men t-shirt"></div>
                            </li>
                        </ul>
                    </div>
                    }
                </div>
            </li>
            }
        </ul>
    </div>
</div>