<div class="container-fluid job-cards-view">
    <div class="row">
        <div class="col-xl-3 xl-40 box-col-12">
            <app-job-filter></app-job-filter>
        </div>
        <div class="col-xl-9 xl-60 box-col-12">
            <div class="card">
                <div class="job-search">
                    <div class="card-body">
                        <div class="d-flex">
                            <img class="img-40 img-fluid m-r-20" src="assets/images/job-search/1.jpg" alt="">
                            <div class="flex-grow-1 w-100">
                                <div>
                                    <h5>
                                        <a class="f-w-700" href="javascript:void(0)">Product Designer (UI/UX Designer)</a>
                                        <span class="pull-right">
                                            <button class="btn btn-primary" type="button">Apply </button>
                                        </span>
                                    </h5>
                                </div>
                                <p>Endless - United States
                                    <span>
                                        <i class="fa-solid fa-star font-secondary"></i>
                                        <i class="fa-solid fa-star font-secondary"> </i>
                                        <i class="fa-solid fa-star font-secondary"> </i>
                                        <i class="fa-solid fa-star font-secondary"> </i>
                                        <i class="fa-solid fa-star font-secondary"> </i>
                                    </span>
                                </p>
                            </div>
                        </div>
                        @for(jobData of jobDetail | slice:0:4; track jobData){
                        <div class="job-description">
                            <h4 class="mb-2">{{ jobData.title }}</h4>
                            @if(jobData.liClass === true){
                            <ul>
                                @for(data of jobData.data; track data){
                                <li> {{ data.desctiption }}</li>
                                }
                            </ul>
                            }
                            @else{
                            @for(data of jobData.data; track data){
                            <p> {{ data.desctiption }}</p>
                            }
                            }
                        </div>
                        }
                        <div class="job-description">
                            <button class="btn btn-primary" type="button">
                                <span><i class="fa fa-check"></i></span> Save this job</button>
                            <button class="btn btn-primary" type="button"><span>
                                    <i class="fa fa-share-alt"></i></span>Share
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-faq">
                <h4 class="mb-0 mb-700"> Similar jobs</h4>
            </div>
            <app-similar-jobs></app-similar-jobs>
        </div>
    </div>
</div>