<div class="card" (clickOutside)="clickOutside()">
    <div class="card-header card-no-border pb-0">
        <div class="header-top">
            <h3>User Status</h3>
            <div class="dropdown icon-dropdown">
                <button class="btn" id="userdropdown4" type="button" (click)="open()">
                    <i class="fa-solid fa-ellipsis"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-end" [class.show]="show">
                    <a class="dropdown-item" href="javascript:void(0)">Weekly</a>
                    <a class="dropdown-item" href="javascript:void(0)">Monthly</a>
                    <a class="dropdown-item" href="javascript:void(0)">Yearly</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body pt-0 user-status">
        <div>
            <table class="table display table-bordernone table-borderless" id="user-status" style="width:100%">
                <thead>
                    <tr>
                        <th>Customer</th>
                        <th>country</th>
                        <th class="text-center">Popular</th>
                    </tr>
                </thead>
                <tbody>
                    @for( data of UserStatus;track data){
                    <tr>
                        <td>
                            <div class="d-flex align-items-center gap-3">
                                <div class="flex-shrink-0 comman-round"><img src="{{data.img}}" alt="" /></div>
                                <div class="flex-grow-1"><a [routerLink]="['/ecommerce/product-page']">
                                        <h6>{{ data.name }} <span>{{ data.status }}</span></h6>
                                    </a></div>
                            </div>
                        </td>
                        <td>
                            <h3>{{ data.country }}</h3>
                        </td>
                        <td>
                            <div class="progress bg-light-{{data.class}}">
                                <div class="progress-bar bg-{{data.class}}" role="progressbar"  [style.width]="data.progress"></div>
                            </div>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
