<div class="card">
  <div class="card-header pb-0 card-no-border">
    <h3>Direction Sweetalert</h3>
    <p class="mt-1 mb-0">Warning for imaginary files.</p>
  </div>
  <div class="card-body">
    <div class="common-flex">
      <button class="btn btn-info sweet-17" type="button" (click)="TopLeft()">Top Left</button>
      <button class="btn btn-primary sweet-16" type="button" (click)="TopRight()">Top Right</button>
      <button class="btn btn-secondary sweet-18" type="button" (click)="BottomLeft()">Bottom Left</button>
      <button class="btn  btn-warning text-light sweet-19" type="button" (click)="BottomRight()">Bottom Right</button>
    </div>
  </div>
</div>