<div class="container-fluid dashboard-3">
    <div class="row">
        <div class="col-xxl-4 col-xl-4 col-md-6">
            <app-top-common-educationchart [data]="educationchart1"></app-top-common-educationchart>
        </div>
        <div class="col-xxl-4 col-xl-4 col-md-6">
            <app-top-common-educationchart [data]="educationchart2"></app-top-common-educationchart>
        </div>
        <div class="col-xxl-4 col-xl-4 col-md-12">
            <app-top-common-educationchart [data]="educationchart3"></app-top-common-educationchart>
        </div>
        <div class="col-xxl-3 col-xl-4 col-sm-6 order-sm-1 order-xl-0 box-col-5">
            <app-upcoming-classes></app-upcoming-classes>
        </div>
        <div class="col-xl-6 order-xxl-0 order-xl-4 col-lg-12 box-col-7">
            <app-school-performance></app-school-performance>
        </div>
        <div class="col-xxl-3 col-xl-4 col-sm-6 box-col-5 box-order-1">
            <app-notice-board></app-notice-board>
        </div>
        <div class="col-xxl-6 col-xl-7 order-xxl-0 order-xl-1 col-sm-6 box-col-12">
            <app-student-details></app-student-details>
        </div>
        <div class="col-xxl-3 col-xl-6 order-xxl-0 order-xl-4 col-lg-6 col-md-7 box-col-6">
            <app-new-courses></app-new-courses>
        </div>
        <div class="col-xxl-3 col-xl-5 order-xxl-0 order-xl-2 col-lg-6 col-md-5 col-sm-6 box-col-6">
            <app-learning-chart></app-learning-chart>
        </div>
        <div class="col-xxl-3 col-xl-4 col-sm-6 box-col-6">
            <app-to-do-list></app-to-do-list>
        </div>
        <div class="col-xxl-6 col-xl-7 order-xxl-0 order-xl-3 col-md-6 box-col-7 box-order-2">
            <app-assignments></app-assignments>
        </div>
        <div class="col-xxl-3 col-xl-5 col-sm-6 box-col-6">
            <app-schedule-lesson></app-schedule-lesson>
        </div>
    </div>
</div>
