<div class="card">
    <div class="card-header">
        <h3>Lists With Radios</h3>
        <p class="mt-1 mb-0">Use the <code>.form-check-input   </code>to check your radio buttons.</p>
    </div>
    <div class="card-body">
        <ul class="list-group">
            @for(radiosItem of listradiosData; track radiosItem){
            <li class="list-group-item">
                <input class="form-check-input me-1 checkbox-{{radiosItem.class}}" id="{{radiosItem.for}}"
                    type="radio" name="listGroupRadio" [checked]="radiosItem.value">
                <label class="form-check-label mb-0"
                    for="{{radiosItem.for}}">{{radiosItem.list}}</label>
            </li>
            }
        </ul>
    </div>
</div>