<div class="card">
    <div class="card-header">
        <h3>Borders Style</h3>
        <p class="mt-1 mb-0">Use of any component to give the different styles of border using  <code>border-*radius/border-color/border-width  </code>class.</p>
      </div>
    <div class="card-body">
        <div class="row g-3">
            <div class="col-xxl-3 col-sm-6">
                <app-common-borderstyle [data]="customborder"></app-common-borderstyle>
            </div>
            <div class="col-xxl-3 col-sm-6">
                <app-common-borderstyle [data]="borderColor"></app-common-borderstyle>
            </div>
            <div class="col-xxl-3 col-sm-6">
                <app-common-borderstyle [data]="borderWidth"></app-common-borderstyle>
            </div>
            <div class="col-xxl-3 col-sm-6">
                <app-common-borderstyle [data]="textColors"></app-common-borderstyle>
            </div>
        </div>
    </div>
</div>