<div class="card">
    <div class="card-header">
        <h3>Popover direction</h3>
        <p class="mt-1 mb-0">To set the position of popover use the    <code> data-bs-placement='top/bottom/...'.</code></p>
    </div>
    <div class="card-body common-flex popover-wrapper">
        <button class="example-popover btn btn-warning mb-0 me-0 text-light" type="button" placement="top"
            popoverTitle="Popover On Top"ngbPopover="Popovers need the tooltip plugin considering that a dependency.">
            Popover on top</button>
        <button class="example-popover btn btn-danger mb-0 me-0" type="button" placement="end"
            popoverTitle="Popover On Right" ngbPopover="Popovers are opt-in for effectiveness causes, in this way you have to initialize them
            yourself.">Popover on right</button>
        <button class="example-popover btn btn-info mb-0 me-0" type="button" placement="bottom"
            popoverTitle="Popover On Bottom" ngbPopover="Identify container:to evade rendering problems in more complex components (like Bootstrap input
             groups, button groups, etc).">Popover on bottom</button>
        <button class="example-popover btn btn-dark mb-0 me-0" type="button" placement="start"
            popoverTitle="Popover On Left" ngbPopover="Popovers are opt-in for effectiveness causes, in this way you have to initialize them
             yourself.">Popover on left
        </button>
    </div>
</div>