<div class="card">
    <div class="card-header card-no-border pb-0">
        <h3>With Icons Accordion </h3>
        <p class="mt-1 mb-0">
            Use <code>icons </code>with <code>.accordion  </code> to give better look.</p>
    </div>
    <div class="card-body accordion-border">
        <div class="accordion" ngbAccordion [closeOthers]="true">
            <div class="accordion-item" ngbAccordionItem>
                <h2 class="accordion-header" ngbAccordionHeader>
                    <button class="accordion-button collapsed gap-2 accordion-light-secondary active text-secondary"
                        type="button" ngbAccordionButton>
                        <i class="fa-regular fa-bell">
                        </i>Keep in touch <i class="iconly-Arrow-Down-2 icli ms-auto icon"></i>
                    </button>
                </h2>
                <div class="accordion-collapse collapse" ngbAccordionCollapse>
                    <div class="accordion-body" ngbAccordionBody>
                        <ng-template>
                            <p> <em class="text-danger"> " This page might not behave as expected because Windows Internet
                                    Explorer isn't configured to load unsigned ActiveX controls."</em> or "Allow this page
                                to install an unsigned ActiveX Control? Doing so from untrusted sources may harm your
                                computer." (Both phrased as conditions that may cause future problems.)</p>
                        </ng-template>
                    </div>
                </div>
            </div>
            <div class="accordion-item" ngbAccordionItem>
                <h2 class="accordion-header" ngbAccordionHeader>
                    <button class="accordion-button collapsed gap-2 accordion-light-secondary active text-secondary"
                        type="button" ngbAccordionButton>
                        <i class="fa-regular fa-comment"> </i>Chats with others<i
                            class="iconly-Arrow-Down-2 icli ms-auto icon"></i>
                    </button>
                </h2>
                <div class="accordion-collapse collapse" ngbAccordionCollapse>
                    <div class="accordion-body" ngbAccordionBody>
                        <ng-template>
                            <ul class="d-flex flex-column gap-2 accordions-content">
                                <li>You get the same features in Chat and Chat in Gmail, but the integrated Gmail experience
                                    provides a central location to communicate with friends, family, or coworkers between
                                    emails.</li>
                                <li> <strong> Chat: </strong> Use when you prefer a dedicated chat experience and don't mind
                                    switching between different apps.</li>
                            </ul>
                        </ng-template>
                    </div>
                </div>
            </div>
            <div class="accordion-item" ngbAccordionItem>
                <h2 class="accordion-header" ngbAccordionHeader>
                    <button class="accordion-button collapsed gap-2 accordion-light-secondary active text-secondary"
                        type="button" ngbAccordionButton>
                        <i class="fa-regular fa-square-check"></i>Right way to code <i
                            class="iconly-Arrow-Down-2 icli ms-auto icon"></i>
                    </button>
                </h2>
                <div class="accordion-collapse collapse" ngbAccordionCollapse>
                    <div class="accordion-body" ngbAccordionBody>
                        <ng-template>
                            <ul class="d-flex flex-column gap-2 accordions-content">
                                <li>1) Decide on the indentation and keep it that way. </li>
                                <li>2) Make comments.</li>
                                <li>3) Consistent name scheme. </li>
                                <li>4) Don't repeat code.</li>
                                <li>5) Avoid writing long code lines.</li>
                                <li>6) Break down a big task into smaller chunks.</li>
                                <li>7) Organize your program into smaller files.</li>
                                <li>8) Write clever code that is also readable.</li>
                            </ul>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>