<div class="card">
    <div class="card-header card-no-border pb-0">
        <div class="header-top">
            <h3>New Courses</h3>
            <div class="dropdown icon-dropdown">
                <button class="btn" id="userdropdown7" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i
                        class="fa-solid fa-ellipsis"></i></button>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="userdropdown7"><a class="dropdown-item"
                        href="#">Weekly</a><a class="dropdown-item" href="#">Monthly</a><a class="dropdown-item"
                        href="#">Yearly</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body course-table pt-0">
        <div class="table-responsive">
            <table class="table table-bordernone">
                <tbody>
                    @for( data of NewCouresData;track data){
                    <tr>
                        <td>
                            <div class="d-flex align-items-center gap-2">
                                <div class="flex-shrink-0 comman-round">
                                    <div class="icon"><img class="img-fluid"
                                            src="{{ data.img }}" alt="chair" /></div>
                                </div>
                                <div class="flex-grow-1"><a href="product-page.html">
                                        <h5>{{ data.name }}</h5>
                                    </a>
                                    <p>{{ data.courses }}</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <h5>{{data.class}} class</h5>
                            <p>{{ data.hours }} hours</p>
                        </td>
                        <td>{{ data.days }} days left</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>