<div class="card"> 
    <div class="card-header">
      <h3> Rounded Pagination </h3>
      <p class="fm-light mt-1 mb-0">
           Used in rounded pagination   <code>.rounded-circle      </code>class.   </p>
    </div>
    <div class="card-body"> 
      <nav aria-label="Page navigation example">
        <ul class="pagination pagination-secondary gap-2">
          <li class="page-item"><a class="page-link rounded-circle" href="javascript:void(0)" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
          <li class="page-item"> <a class="page-link rounded-circle" href="javascript:void(0)">1</a></li>
          <li class="page-item"> <a class="page-link rounded-circle" href="javascript:void(0)">2</a></li>
          <li class="page-item active"><a class="page-link rounded-circle" href="javascript:void(0)"> ...</a></li>
          <li class="page-item"> <a class="page-link rounded-circle" href="javascript:void(0)">20</a></li>
          <li class="page-item"><a class="page-link rounded-circle" href="javascript:void(0)" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
        </ul>
      </nav>
    </div>
  </div>