/**=====================
  4.3 Update CSS Start
==========================**/
.animate-img {
    .card {
        box-shadow: 0px 4px 15px rgba($black, 0.05);
    }
    .animate-widget {
        img {
            width: 100%;
            height: 350px;
            margin: 0 auto;
            object-fit: cover;
        }
    }
}
.modal-popup {
    &.modal {
        top: 20%;
        left: 50%;
        transform: translate(-50%, 0);
        .modal-dialog {
            .theme-close {
                width: calc(25px + (40 - 25) * ((100vw - 320px) / (1920 - 320)));
                height: calc(25px + (40 - 25) * ((100vw - 320px) / (1920 - 320)));
                font-size: calc(12px + (14 - 12) * ((100vw - 320px) / (1920 - 320)));
            }
        }
    }
}
.animated-modal {
    .form-select {
        @media (max-width:442px) {
            width: 100% !important;
        }
    }
}
.theme-close {
    opacity: 1;
    position: absolute;
    z-index: 1;
    right: 0;
    background-color: var(--white) !important;
}
.code-box-copy {
    width: 100%;
    overflow: auto;
}
code[class*=language-] {
    text-shadow: none !important;
}
pre[class*=language-] {
    text-shadow: none !important;
}
.tooltip-inner {
    background-color: rgba($primary-color, 0.5);
    color: var(--theme-default);
}
.tooltip.bs-tooltip-top {
    .tooltip-arrow {
        &:before {
            border-top-color: rgba($primary-color, 0.5);
        }
    }
}
.swal2-popup {
    background: var(--white) !important;
}
.swal2-range {
    background: var(--white) !important;
}
.swal2-checkbox {
    background: var(--white) !important;
}
.bookmark-dropdown {
    .flip-card {
        width: 300px;
        height: 260px;
        background-color: transparent;
        .flip-card-inner {
            position: relative;
            height: 100%;
            text-align: center;
            transition: transform 0.6s;
            transform-style: preserve-3d;
            .front,
            .back {
                position: absolute;
                backface-visibility: hidden;
                border-radius: 5px;
                overflow: hidden;
                box-shadow: 0 0 20px rgba(89, 102, 122, 0.1);
                width: 300px;
                height: 260px;
            }
            .front {
                background-color: var(--card-color);
                transition: 0.3s;
                .bookmark-dropdown {
                    padding: 15px;
                    li {
                        padding: 15px;
                        &:last-child {
                            padding-bottom: 15px;
                        }
                        .custom-bookmark-content {
                            justify-content: center !important;
                            padding: 0 8px;
                        }
                        .bookmark-content {
                            text-align: center;
                            margin-bottom: 8px;
                            .bookmark-icon {
                                width: 52px;
                                height: 52px;
                                border-radius: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                margin: 0 auto;
                            }
                            span {
                                font-family: $body-font;
                                font-size: 14px;
                                font-weight: 600;
                                letter-spacing: 0.5px;
                                margin-top: 4px;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                display: -webkit-box !important;
                                -webkit-line-clamp: 1;
                                -webkit-box-orient: vertical;
                                white-space: normal;
                                width: 100%;
                            }
                        }
                        .bookmark-scroll {
                            height: 130px;
                            overflow: auto;
                        }
                    }
                }
            }
            .back {
                background-color: var(--card-color);
                transform: rotateY(180deg);
                ul {
                    padding: 15px;
                    li {
                        padding: 15px;
                        &:first-child {
                            height: 195px !important;
                        }
                        .ProfileCard {
                            &:hover {
                                svg {
                                    stroke: var(--theme-default);
                                }
                                a {
                                    color: var(--theme-default);
                                }
                            }
                            .ProfileCard-details {
                                i {
                                    font-size: 13px;
                                }
                            }
                        }
                        .flip-back-content {
                            input {
                                border-radius: 25px;
                                padding: 10px 20px;
                                width: 100%;
                                border: 1px solid #ddd;
                            }
                        }
                        .flip-back {
                            color: $white;
                        }
                    }
                }
            }
            &.flipped {
                transform: rotateY(180deg);
                .front {
                    opacity: 0;
                }
            }
            .custom-bookmark-content {
                svg {
                    vertical-align: -2px;
                    width: 22px;
                    height: 18px;
                }
            }
        }
    }
    .flip-btn {
        justify-content: center;
        font-family: $body-font;
        color: $white;
    }
    &.custom-menu {
        @media (max-width: 575px) {
            width: unset !important;
        }
    }
}
.bookmark-flip {
    .Typeahead-menu {
        overflow: auto;
        height: 130px;
        padding: 0;
    }
}
#chart-widget1 {
    margin-bottom: -16px;
}
.form-select {
    border-radius: 6px;
}
.custom-dropzone {
    &.customize-dropzone {
        border: 2px dashed var(--theme-default) !important;
        border-radius: 15px;
        background-color: rgba($primary-color, 0.1);
    }
    .dropzone.dz-wrapper {
        background-color: unset;
        border: none !important;
        margin: 0 auto;
        font-size: 35px;
        .dz-message {
            background-color: unset;
            border: none;
            min-height: 200px;
            overflow: hidden;
            .dz-text {
                background-color: unset;
                border: none;
                padding: 0 !important;
                font-size: 17px;
            }
        }
        .dz-preview {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: block;
            margin: 0 !important;
        }
    }
}
.toolbar-box {
    .angular-editor-toolbar {
        .angular-editor-button {
            i {
                color: var(--font-color);
            }
            &.active {
                background-color: var(--body-color) !important;
            }
        }
        .ae-picker-label {
            color: var(--font-color);
            .ae-stroke {
                stroke: var(--font-color);
            }
        }
        .ae-picker-options {
            .ae-picker-item {
                &:hover {
                    background-color: unset !important;
                }
                &.focused {
                    background-color: var(--body-color) !important;
                }
                &.selected {
                    color: var(--theme-default);
                }
            }
        }
    }
    .angular-editor-toolbar-set {
        vertical-align: top;
        &:nth-child(9) {
            #backgroundColorPicker- {
                padding: .2rem .4rem !important;
            }
        }
    }
    .angular-editor-textarea {
        height: 150px !important;
        &:focus-visible {
            outline: none !important;
        }
    }
}
.ngx-slider {
    .ngx-slider-pointer {
        background-color: var(--theme-default) !important;
    }
    .ngx-slider-selection {
        background-color: var(--theme-default) !important;
    }
}
.form-control {
    border-radius: 6px;
}
.invoice-2 {
    table {
        border: 0;
        td {
            padding: 0;
        }
    }
}
.NgxEditor__Dropdown {
    .NgxEditor__Dropdown--Selected {
        color: var(--theme-default) !important;
        background-color: rgba($primary-color, 0.3) !important;
    }
    .NgxEditor__Dropdown--Open {
        color: var(--theme-default) !important;
        background-color: rgba($primary-color, 0.3) !important;
    }
}
.NgxEditor__MenuItem.NgxEditor__MenuItem--Active {
    color: var(--theme-default) !important;
    background-color: rgba($primary-color, 0.3) !important;
}
.NgxEditor__MenuItem {
    .NgxEditor__MenuItem--Active {
        color: var(--theme-default) !important;
        background-color: rgba($primary-color, 0.3) !important;
    }
}
.modal-header {
    .close {
        right: 10px;
        position: absolute;
    }
}
.social-app-profile {
    .accordion-item {
        border: 0;
    }
    .accordion-button {
        border-radius: 0 !important;
        border: 0;
    }
}
.pagination-primary {
    .page-item {
        .page-link {
        }
        &:first-child {
            .page-link {
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
                border-top-left-radius: 6px;
                border-bottom-left-radius: 6px;
            }
        }
        &:last-child {
            .page-link {
                border-top-left-radius: 0px;
                border-bottom-left-radius: 0px;
                border-top-right-radius: 6px;
                border-bottom-right-radius: 6px;
            }
        }
    }
}
.typography-table{
    .display-h1{
        font-size: 30px;
    }
}
/**=====================
    4.3 Update CSS Ends
==========================**/