/**=====================
  4.3 Update CSS Start
==========================**/
.animate-img {
    .card {
        box-shadow: 0px 4px 15px rgba($black, 0.05);
    }
    .animate-widget {
        img {
            width: 100%;
            height: 350px;
            margin: 0 auto;
            object-fit: cover;
        }
    }
}
.modal-popup {
    &.modal {
        top: 20%;
        left: 50%;
        transform: translate(-50%, 0);
        .modal-dialog {
            .theme-close {
                width: calc(25px + (40 - 25) * ((100vw - 320px) / (1920 - 320)));
                height: calc(25px + (40 - 25) * ((100vw - 320px) / (1920 - 320)));
                font-size: calc(12px + (14 - 12) * ((100vw - 320px) / (1920 - 320)));
            }
        }
    }
}
.animated-modal {
    .form-select {
        @media (max-width:442px) {
            width: 100% !important;
        }
    }
}
.theme-close {
    opacity: 1;
    position: absolute;
    z-index: 1;
    right: 0;
    background-color: var(--white) !important;
}
.code-box-copy {
    width: 100%;
    overflow: auto;
}
code[class*=language-] {
    text-shadow: none !important;
}
pre[class*=language-] {
    text-shadow: none !important;
}
.tooltip-inner {
    background-color: var(--theme-default);
    color: $white;
}
.tooltip.bs-tooltip-top {
    .tooltip-arrow {
        &:before {
            border-top-color: var(--theme-default);
        }
    }
}
.tooltip.bs-tooltip-bottom {
    .tooltip-arrow {
        &:before {
            border-bottom-color: var(--theme-default);
        }
    }
}
.tooltip.bs-tooltip-end {
    .tooltip-arrow {
        &:before {
            border-right-color: var(--theme-default);
        }
    }
}
.tooltip.bs-tooltip-start {
    .tooltip-arrow {
        &:before {
            border-left-color: var(--theme-default);
        }
    }
}
.swal2-popup {
    background: var(--white) !important;
}
.swal2-range {
    background: var(--white) !important;
}
.swal2-checkbox {
    background: var(--white) !important;
}
.bookmark-dropdown {
    .flip-card {
        width: 300px;
        height: 260px;
        background-color: transparent;
        .flip-card-inner {
            position: relative;
            height: 100%;
            text-align: center;
            transition: transform 0.6s;
            transform-style: preserve-3d;
            .front,
            .back {
                position: absolute;
                backface-visibility: hidden;
                border-radius: 5px;
                overflow: hidden;
                box-shadow: 0 0 50px rgba(0, 0, 0, 0.03);
                width: 300px;
                height: 260px;
            }
            .front {
                background-color: var(--card-color);
                transition: 0.3s;
                .bookmark-dropdown {
                    padding: 15px;
                    li {
                        padding: 15px;
                        &:last-child {
                            padding-bottom: 15px;
                        }
                        .custom-bookmark-content {
                            justify-content: center !important;
                            padding: 0 8px;
                        }
                        .bookmark-content {
                            text-align: center;
                            margin-bottom: 8px;
                            .bookmark-icon {
                                width: 52px;
                                height: 52px;
                                border-radius: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                margin: 0 auto;
                            }
                            span {
                                font-family: $body-font;
                                font-size: 14px;
                                font-weight: 600;
                                letter-spacing: 0.5px;
                                margin-top: 4px;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                display: -webkit-box !important;
                                -webkit-line-clamp: 1;
                                -webkit-box-orient: vertical;
                                white-space: normal;
                                width: 100%;
                            }
                        }
                        .bookmark-scroll {
                            height: 130px;
                            overflow: auto;
                        }
                    }
                }
            }
            .back {
                background-color: var(--card-color);
                transform: rotateY(180deg);
                ul {
                    padding: 15px;
                    li {
                        padding: 15px;
                        &:first-child {
                            height: 195px !important;
                        }
                        .ProfileCard {
                            &:hover {
                                svg {
                                    stroke: var(--theme-default);
                                }
                                a {
                                    color: var(--theme-default);
                                }
                            }
                            .ProfileCard-details {
                                i {
                                    font-size: 13px;
                                }
                            }
                        }
                        .flip-back-content {
                            input {
                                border-radius: 25px;
                                padding: 10px 20px;
                                width: 100%;
                                border: 1px solid #ddd;
                            }
                        }
                        .flip-back {
                            color: $white;
                        }
                    }
                }
            }
            &.flipped {
                transform: rotateY(180deg);
                .front {
                    opacity: 0;
                }
            }
            .custom-bookmark-content {
                svg {
                    vertical-align: -2px;
                    width: 22px;
                    height: 18px;
                }
            }
        }
    }
    .flip-btn {
        justify-content: center;
        font-family: $body-font;
        color: $white;
    }
    &.custom-menu {
        @media (max-width: 575px) {
            width: unset !important;
        }
    }
}
.bookmark-flip {
    .Typeahead-menu {
        overflow: auto;
        height: 130px;
        padding: 0;
    }
}
#chart-widget1 {
    margin-bottom: -16px;
}
.form-select {
    border-radius: 6px;
}
.custom-dropzone {
    &.customize-dropzone {
        border: 2px dashed var(--theme-default) !important;
        border-radius: 15px;
        background-color: rgba($primary-color, 0.1);
    }
    .dropzone.dz-wrapper {
        background-color: unset;
        border: none !important;
        margin: 0 auto;
        font-size: 35px;
        .dz-message {
            background-color: unset;
            border: none;
            min-height: 200px;
            overflow: hidden;
            .dz-text {
                background-color: unset;
                border: none;
                padding: 0 !important;
                font-size: 17px;
            }
        }
        .dz-preview {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: block;
            margin: 0 !important;
        }
    }
}
.toolbar-box {
    .angular-editor-toolbar {
        .angular-editor-button {
            i {
                color: var(--font-color);
            }
            &.active {
                background-color: var(--body-color) !important;
            }
        }
        .ae-picker-label {
            color: var(--font-color);
            .ae-stroke {
                stroke: var(--font-color);
            }
        }
        .ae-picker-options {
            .ae-picker-item {
                &:hover {
                    background-color: unset !important;
                }
                &.focused {
                    background-color: var(--body-color) !important;
                }
                &.selected {
                    color: var(--theme-default);
                }
            }
        }
    }
    .angular-editor-toolbar-set {
        vertical-align: top;
        &:nth-child(9) {
            #backgroundColorPicker- {
                padding: .2rem .4rem !important;
            }
        }
    }
    .angular-editor-textarea {
        height: 150px !important;
        &:focus-visible {
            outline: none !important;
        }
    }
}
.ngx-slider {
    .ngx-slider-pointer {
        background-color: var(--theme-default) !important;
    }
    .ngx-slider-selection {
        background-color: var(--theme-default) !important;
    }
}
.form-control {
    border-radius: 6px;
}
.invoice-2 {
    table {
        border: 0;
        td {
            padding: 0;
        }
    }
}
.NgxEditor__Dropdown {
    .NgxEditor__Dropdown--Selected {
        color: var(--theme-default) !important;
        background-color: rgba($primary-color, 0.3) !important;
    }
    .NgxEditor__Dropdown--Open {
        color: var(--theme-default) !important;
        background-color: rgba($primary-color, 0.3) !important;
    }
}
.NgxEditor__MenuItem.NgxEditor__MenuItem--Active {
    color: var(--theme-default) !important;
    background-color: rgba($primary-color, 0.3) !important;
}
.NgxEditor__MenuItem {
    .NgxEditor__MenuItem--Active {
        color: var(--theme-default) !important;
        background-color: rgba($primary-color, 0.3) !important;
    }
}
.modal-header {
    .close {
        right: 10px;
        position: absolute;
    }
}
.social-app-profile {
    .accordion-item {
        border: 0;
    }
    .accordion-button {
        border-radius: 0 !important;
        border: 0;
    }
}
.pagination-primary {
    .page-item {
        .page-link {
        }
        &:first-child {
            .page-link {
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
                border-top-left-radius: 6px;
                border-bottom-left-radius: 6px;
            }
        }
        &:last-child {
            .page-link {
                border-top-left-radius: 0px;
                border-bottom-left-radius: 0px;
                border-top-right-radius: 6px;
                border-bottom-right-radius: 6px;
            }
        }
    }
}
.typography-table{
    .display-h1{
        font-size: 30px;
    }
}
.rounded-2{
    border-radius: 6px !important;
}
.btn-info:hover{
    color: $white !important;
}
.accordion-item {
	&:first-of-type {
			border-top-left-radius: 6px !important;
			border-top-right-radius: 6px !important;
	}
    &:last-of-type{
        border-bottom-right-radius: 6px !important;
        border-bottom-left-radius: 6px !important;
    }
}
.icon-accordion{
    .accordion{
        .accordion-item{
            &:first-of-type {
                >.accordion-header {
                    .accordion-button {
                        border-top-left-radius: 6px !important;
			            border-top-right-radius: 6px !important;
                    }
                }
            }
            &:last-of-type {
                >.accordion-header {
                    .accordion-button.collapsed {
                        border-bottom-right-radius: 6px !important;
                        border-bottom-left-radius: 6px !important;
                    }
                }
            }
        }
    }
}
.tag-pills-page{
    .headings-badge-card{
        .badge{
            border-radius: 6px !important;
        }
    }
}
.large-modal-header{
    margin-bottom: 10px;
    h6{
        display: flex;
        align-items: center;
        color: var(--body-font-color);
        font-size: 16px;
        font-weight: 600;
    }
}
.nav-tabs .nav-link{
    border-top-left-radius: 6px !important;
    border-top-right-radius: 6px !important;
}
.nav-pills .nav-link{
    border-radius: 6px !important;
}
.dropzone {
	.dz-preview {
        .dz-details {
            z-index: 8 !important;
        }
		.dz-remove {
            z-index: 9;
            position: relative;
		}
	}
}
.dropdown-page{
    .dropdown {
        .dropdown-toggle {
            border-radius: 6px;
            padding: 6px 28px;
            text-align: center;
            width: auto;
            color: $white;
            &::after{
                display: inline-block;
                margin-left: 8px;
                vertical-align: middle;
                content: "";
                border-top: 4px solid;
                border-right: 4px solid transparent;
                border-bottom: 0;
                border-left: 4px solid transparent;
                position: unset;
            }
        }
    }
    
}
.unique-dropdown-card{
    .dropdown-menu {
        .dropdown-item {
            opacity: unset;
            color: var(--body-font-color);
            font-size: 16px;
            white-space: wrap;
            background-color: unset;
        }
    }
}
.spilt-dropdown-card{
    .btn{
        padding: 10px 28px;
    }
    .dropdown {
        .dropdown-toggle {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            padding: 10px;
            &::after{
                display: none;
            }
            svg{
                width: 14px;
                height: 14px;
            }
        }
    }
    .dropdown-content{
        a{
            &:first-child{
                border-top: 0;  
            }
        }
    }
}
.input-with-card{
    .dropdown-menu{
        li{
            span{
                font-size: 16px;
                line-height: 1.5;
                color: #212529;
            }
        }
    }
}
.list-group{
    border-radius: 6px;
}
.list-group-horizontal-sm > .list-group-item:last-child:not(:first-child){
    @media (min-width: 576px) {
        border-top-right-radius: 6px;
    }
}
.list-group-horizontal-sm > .list-group-item:first-child:not(:last-child){
    @media (min-width: 576px) {
        border-bottom-left-radius: 6px;
    }
}
.toast{
    border-radius: 6px;
    .toast-header{
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }
    .toast-body{
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
    }
}
.br-horizontal {
	.br-unit-inner {
		background-color: var(--theme-default) !important;
	}
}
.br-movie,
.br-square,
.br-vertical{
	.br-unit-inner {
		background-color: var(--theme-default) !important;
		border-color: var(--theme-default) !important;
	}
}
.br-default {
	.br-active {
		&:before {
			color: var(--theme-default);
		}
	}
}
.br-horizontal,
.br-movie,
.br-vertical{
	.br-text {
		color: var(--theme-default) !important;
        font-size: 14px;
	}
}
.br-square {
	.br-unit-inner {
		&:after {
			color: $white;
		}
	}
}
.dropzone{
        .dz-wrapper{
            .dz-message{
                .dz-text{
                    .dz-message{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        i{
                            font-size: 50px;
                            color: var(--theme-default);
                        }
                        h6{
                            color: #212529;
                        }
                        span{
                            font-size: 14px;
                            color: #212529;
                        }
                    }
                }
            }
        }
        &.dropzone-secondary{
            border: 2px dashed var(--theme-secondary) !important;
            background-color: rgba($secondary-color, 0.1);
            .dz-wrapper{
                .dz-message{
                    .dz-text{
                        .dz-message{
                            i{
                                color: var(--theme-secondary) !important;
                            }
                        }
                    }
                }
            }
        }
}
/**=====================
    4.3 Update CSS Ends
==========================**/