<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12">
            <app-common-top-alerts [data]="darkAlert"></app-common-top-alerts>
        </div>
        <div class="col-xl-12">
            <app-common-top-alerts [data]="LightAlert"></app-common-top-alerts>
        </div>
        <div class="col-sm-12 col-xl-6">
            <app-outline-alert></app-outline-alert>
        </div>
        <div class="col-sm-12 col-xl-6">
            <app-alert-with-icons></app-alert-with-icons>
        </div>
        <div class="col-sm-12 col-xl-6">
            <app-dismissing-dark-alert></app-dismissing-dark-alert>
        </div>
        <div class="col-sm-12 col-xl-6">
            <app-dismissing-light-alert></app-dismissing-light-alert>
        </div>
        <div class="col-xl-6">
            <app-live-alert></app-live-alert>
        </div>
        <div class="col-xl-6">
            <app-left-border-alert></app-left-border-alert>
        </div>
        <div class="col-xl-12">
            <app-additional-content></app-additional-content>
        </div>
    </div>
</div>