<div class="card">
    <div class="card-body">
        <div class="items-slider">
            <owl-carousel-o [options]="SildesoptionsData">
                @for( sildesItem of productoffer ; track sildesItem){
                <ng-template carouselSlide>
                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="slider-box bg-light-{{ sildesItem.class }}">
                                    <div class="header-top">
                                        <div class="badge badge-{{ sildesItem.class }} rated-product-badge">Hot</div>
                                        <img class="img-fluid" src="{{ sildesItem.img }}" alt="" />
                                        <div class="i fa-regular fa-heart"></div>
                                    </div>
                                </div>
                                <div class="slider-content text-center">
                                    <h4 class="text-{{ sildesItem.class }}">{{ sildesItem.offer }}</h4>
                                    <p class="mb-0">{{ sildesItem.title }}</p>
                                    <h6>${{ sildesItem.discountPrice }}.00<span>&nbsp;${{ sildesItem.price }}.00</span>
                                    </h6>
                                    <div class="input-group"> <span class="input-group-text decrement-touchspin">
                                            <svg class="svg-color">
                                                <use href="assets/svg/iconly-sprite.svg#minus"></use>
                                            </svg></span>
                                        <input class="form-control bg-light-{{ sildesItem.class }} input-touchspin"
                                            type="text" value="1" /><span class="input-group-text increment-touchspin">
                                            <svg class="svg-color">
                                                <use href="assets/svg/iconly-sprite.svg#plus"></use>
                                            </svg>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                }
            </owl-carousel-o>
        </div>
    </div>
</div>
