<div class="card height-equal">
    <div class="card-header card-no-border pb-0">
        <div class="header-top">
            <h3>Total Invest</h3>
            <div class="dropdown icon-dropdown" (clickOutside)="clickOutside()">
                <button class="btn" id="userdropdown4" type="button" (click)="open()">
                    <i class="fa-solid fa-ellipsis"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-end" [class.show]="show">
                    <a class="dropdown-item" href="javascript:void(0)">Weekly</a>
                    <a class="dropdown-item" href="javascript:void(0)">Monthly</a>
                    <a class="dropdown-item" href="javascript:void(0)">Yearly</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body total-invest">
        <div class="row">
            <div class="col-6 col-md-12 income-chart">
                <div class="Incomechrt" id="Incomechrt">
                    <apx-chart [series]="IncomeChart.series" [chart]="IncomeChart.chart" [labels]="IncomeChart.labels"
                        [plotOptions]="IncomeChart.plotOptions" [stroke]="IncomeChart.stroke"
                        [colors]="IncomeChart.colors" [grid]="IncomeChart.grid" [responsive]="IncomeChart.responsive">
                    </apx-chart>
                </div>
            </div>
            <div class="col-6 col-md-12 invest-content text-center">
                <svg class="stroke-icon">
                    <use href="assets/svg/icon-sprite.svg#chart-invest"></use>
                </svg>
                <div class="btn btn-pill btn-primary"> <span> </span>Live</div>
                <p class="mb-0 des-title">This Invest Cycle</p>
                <h3>7,48,000</h3>
                <p class="description-title">Current Balance this invest cycle</p>
            </div>
        </div>
    </div>
</div>
