<div class="card height-equal">
    <div class="card-header card-no-border pb-0">
        <div class="header-top">
            <h3>Total Invest</h3>
            <div class="dropdown icon-dropdown">
                <button class="btn" id="userdropdown1" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i
                        class="fa-solid fa-ellipsis"></i></button>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="userdropdown1"><a class="dropdown-item"
                        href="#">Weekly</a><a class="dropdown-item" href="#">Monthly</a><a class="dropdown-item"
                        href="#">Yearly</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body total-invest">
        <div class="row">
            <div class="col-6 col-md-12 income-chart">
                <div class="Incomechrt" id="Incomechrt">
                    <apx-chart [series]="IncomeChart.series" [chart]="IncomeChart.chart" [labels]="IncomeChart.labels"
                        [plotOptions]="IncomeChart.plotOptions" [stroke]="IncomeChart.stroke"
                        [colors]="IncomeChart.colors" [grid]="IncomeChart.grid" [responsive]="IncomeChart.responsive">
                    </apx-chart>
                </div>
            </div>
            <div class="col-6 col-md-12 invest-content text-center">
                <svg class="stroke-icon">
                    <use href="assets/svg/icon-sprite.svg#chart-invest"></use>
                </svg>
                <div class="btn btn-pill btn-primary"> <span> </span>Live</div>
                <p class="mb-0 des-title">This Invest Cycle</p>
                <h3>7,48,000</h3>
                <p class="description-title">Current Balance this invest cycle</p>
            </div>
        </div>
    </div>
</div>
