<div class="card">
    <div class="card-header pb-0 card-no-border">
        <h3>With Disabled</h3>
        <p class="mt-1 mb-0">
            You can set disabled page with <code>.disabled </code>class.</p>
    </div>
    <div class="card-body">
        <nav aria-label="Page navigation example">
            <ul class="pagination pagination-secondary">
                <li class="page-item"><a class="page-link" href="javascript:void(0)">1</a></li>
                <li class="page-item"> <a class="page-link" href="javascript:void(0)">2 </a></li>
                <li class="page-item disabled">
                    <a class="page-link" href="javascript:void(0)" tabindex="-1" aria-disabled="ture">...</a>
                </li>
                <li class="page-item"><a class="page-link" href="javascript:void(0)">9</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0)">10 </a></li>
            </ul>
        </nav>
    </div>
</div>