<div class="card">
    <div class="card-header card-no-border pb-0">
        <h3>Transition History</h3>
    </div>
    <div class="card-body transaction-history pt-0">
        <div class="table-responsive theme-scrollbar">
            <table class="table display table-bordernone" id="transaction" style="width:100%">
                <thead>
                    <tr>
                        <th>Item Name</th>
                        <th>Invoice No.</th>
                        <th>Credit/Debit</th>
                        <th>Date/Time</th>
                        <th class="text-center">Status</th>
                    </tr>
                </thead>
                <tbody>
                    @for(data of transitionHistory;track data){
                    <tr>
                        <td>
                            <div class="d-flex align-items-center gap-3">
                                <div class="flex-shrink-0"><img src="{{ data.img }}" alt="" />
                                </div>
                                <div class="flex-grow-1"><a href="product-page.html">
                                        <h6>{{ data.name }}</h6>
                                    </a>
                                    <p>{{ data.itemStatus}}</p>
                                </div>
                            </div>
                        </td>
                        <td> {{ data.invoiceNo }}</td>
                        @if(data.debit){
                        <td class="text-success">+ ${{data.debit}}</td>
                        }@else{
                            <td class="text-danger">- ${{data.credit}}</td>
                        }
                        <td>
                            <div class="d-flex">
                                <div class="flex-grow-1">
                                    <h6>{{data.date}}</h6>
                                    <p>{{data.time}}</p>
                                </div>
                            </div>
                        </td>
                        <td class="text-end">
                            <div class="btn bg-light-{{data.class}} border-light-{{data.class}} text-{{data.class}}">{{data.status}}</div>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
