<div class="card" (clickOutside)="clickOutside()">
    <div class="card-header card-no-border pb-0">
        <div class="header-top">
            <h3>Audit log</h3>
            <div class="dropdown icon-dropdown">
                <button class="btn" id="userdropdown4" type="button" (click)="open()">
                    <i class="fa-solid fa-ellipsis"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-end" [class.show]="show">
                    <a class="dropdown-item" href="javascript:void(0)">Weekly</a>
                    <a class="dropdown-item" href="javascript:void(0)">Monthly</a>
                    <a class="dropdown-item" href="javascript:void(0)">Yearly</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body audit-log">
        <ul>
            @for( data of auditLogData;track data){
            <li class="d-flex align-items-center gap-2">
                <div class="flex-shrink-0 bg-{{data.class}}">
                    <img src="{{data.img}}" alt="" />
                </div>
                <div class="flex-grow-1"><a href="product-page.html">
                        <h6>{{data.title}}</h6>
                    </a>
                    <p>{{data.name}}</p>
                </div>
                @if(data.hours){
                <span>{{data.hours}} hours</span>
                }@else{
                <span>{{data.date}}</span>
                }
            </li>
            }
        </ul>
    </div>
</div>