<div class="card">
    <div class="card-header">
        <h3>With Icons Breadcrumb</h3>
        <p class="mb-0">You can set icons breadcrumb using <code>.breadcrumb </code>class.</p>
    </div>
    <div class="card-body">
        <nav class="breadcrumb-icon mb-3" aria-label="breadcrumb">
            <ol class="breadcrumb bg-white p-l-0 mb-0">
                <li class="breadcrumb-item"><a href="javascript:void(0)"><i class="iconly-Home icli"></i></a></li>
                <li class="breadcrumb-item active">Ui Kits</li>
            </ol>
        </nav>
        <nav class="breadcrumb-icon breadcrumb-style4 mb-0" aria-label="breadcrumb">
            <ol class="breadcrumb bg-white m-b-0 p-b-0 p-l-0 mb-0">
                <li class="breadcrumb-item"><a href="javascript:void(0)"><i class="iconly-Home icli"></i></a></li>
                <li class="breadcrumb-item">Ui Kits</li>
                <li class="breadcrumb-item active">Avatars</li>
            </ol>
        </nav>
    </div>
</div>