<div class="container-fluid tag-pills-page">
    <div class="row">
        <div class="col-xl-6">
            <app-common-badge-pills [data]="BadgesData"></app-common-badge-pills>
        </div>
        <div class="col-xl-6">
            <app-common-badge-pills [data]="PillsData"></app-common-badge-pills> 
        </div>
        <div class="col-xl-6">
            <app-common-badge-pills [data]="NumberBadgeData"></app-common-badge-pills>
        </div>
        <div class="col-xl-6">
            <app-common-badge-pills [data]="NumberPillsData"></app-common-badge-pills>
        </div>
        <div class="col-xl-6">
            <app-common-badge-pills [data]="IconBadeData"></app-common-badge-pills>
        </div>
        <div class="col-xl-6">
            <app-common-badge-pills [data]="IconpillsData"></app-common-badge-pills>
        </div>
        <div class="col-lg-6 headings-badge-card">
            <app-badge-headings></app-badge-headings>
        </div>
        <div class="col-lg-6">
            <app-badges-buttons></app-badges-buttons>
        </div>
    </div>
</div>