<div class="card">
    <div class="card-body">
        <div class="new-users-social">
            <div class="d-flex gap-3"><img class="rounded-circle image-radius m-r-15" src="assets/images/user/1.jpg"
                    alt="" />
                <div class="flex-grow-1">
                    <h6 class="mb-0">ELANA</h6>
                    <p>January, 12,2019</p>
                </div>
                <span class="pull-right mt-0">
                    <app-feather-icon [icon]="'more-vertical'"></app-feather-icon>
                </span>
            </div>
        </div><img class="img-fluid" alt="" src="assets/images/social-app/timeline-1.png" />
        <div class="timeline-content">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sed urna in justo
                euismod condimentum. Fusce
                placerat enim et odio molestie sagittis.
            </p>
            <div class="like-content"><span><i class="fa-solid fa-heart font-danger"></i></span><span
                    class="pull-right comment-number"><span>20 </span><span><i
                            class="fa-solid fa-share-nodes me-0"></i></span></span><span
                    class="pull-right comment-number"><span>10 </span><span><i
                            class="fa-regular fa-comment"></i></span></span>
            </div>
            <div class="social-chat">
                <div class="your-msg">
                    <div class="d-flex gap-3"><img class="img-50 img-fluid m-r-20 rounded-circle" alt=""
                            src="assets/images/user/1.jpg" />
                        <div class="flex-grow-1"><span class="f-w-700">Jason Borne <span>1 Year Ago <i
                                        class="fa-solid fa-reply font-primary"></i></span></span>
                            <p>we are working for the dance and sing songs. this car is very awesome for the
                                youngster. please vote this car and like our post</p>
                        </div>
                    </div>
                </div>
                <div class="other-msg">
                    <div class="d-flex gap-3"><img class="img-50 img-fluid m-r-20 rounded-circle" alt=""
                            src="assets/images/user/2.png" />
                        <div class="flex-grow-1"><span class="f-w-700">Alexendra Dhadio <span>1 Month Ago <i
                                        class="fa-solid fa-reply font-primary"></i></span></span>
                            <p>yes, really very awesome car i see the features of this car in the official
                                website of #Mercedes-Benz and really impressed :-)</p>
                        </div>
                    </div>
                </div>
                <div class="other-msg">
                    <div class="d-flex gap-3"><img class="img-50 img-fluid m-r-20 rounded-circle" alt=""
                            src="assets/images/user/3.png" />
                        <div class="flex-grow-1"><span class="f-w-700">Olivia Jon <span>15 Days Ago <i
                                        class="fa-solid fa-reply font-primary"></i></span></span>
                            <p>i like lexus cars, lexus cars are most beautiful with the awesome features, but
                                this car is really outstanding than lexus</p>
                        </div>
                    </div>
                </div>
                <div class="your-msg">
                    <div class="d-flex gap-3"><img class="img-50 img-fluid m-r-20 rounded-circle" alt=""
                            src="assets/images/user/1.jpg" />
                        <div class="flex-grow-1"><span class="f-w-700">Issa Bell <span>1 Year Ago <i
                                        class="fa-solid fa-reply font-primary"></i></span></span>
                            <p>we are working for the dance and sing songs. this car is very awesome for the
                                youngster. please vote this car and like our post</p>
                        </div>
                    </div>
                </div>
                <div class="text-center"><a href="javascript:void(0)">More Commnets</a></div>
            </div>
            <div class="comments-box">
                <div class="d-flex gap-3"><img class="img-50 img-fluid m-r-20 rounded-circle" alt=""
                        src="assets/images/user/1.jpg" />
                    <div class="flex-grow-1">
                        <div class="input-group text-box">
                            <input class="form-control input-txt-bx" type="text" name="message-to-send"
                                placeholder="Post Your commnets" />
                            <div class="input-group-append">
                                <button class="btn btn-transparent" type="button"><i class="fa-regular fa-face-smile">
                                    </i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>