<ul class="layout-grid">
    <input id="ColorPicker1" [(ngModel)]="primary_color" type="color" value="#308e87">
    <input id="ColorPicker2" class="ms-2" [(ngModel)]="secondary_color" type="color" value="#f39159">
    <ul class="layout-grid unlimited-color-layout">
        <button type="button" class="color-apply-btn btn btn-primary color-apply-btn"
            (click)="applyColor()">Apply</button>
        <button type="button" class="color-apply-btn btn btn-primary color-apply-btn ms-2"
            (click)="resetColor()">Reset</button>
    </ul>
</ul>

<!-- let primary_color = localStorage.getItem('primary_color') || '#308e87';
let secondary_color = localStorage.getItem('secondary_color') || '#f39159'; -->