<div class="card performance-card">
    <div class="card-header card-no-border pb-0">
        <div class="header-top">
            <h3>School Performance</h3>
            <div class="d-flex">
                <ul class="performance-header">
                    <li class="me-3"><span class="circle bg-primary me-1"> </span>
                        <p class="mb-0">Students</p>
                    </li>
                    <li class="me-3"><span class="circle bg-secondary me-1"></span>
                        <p class="mb-0">Teachers</p>
                    </li>
                </ul>
                <ul class="simple-wrapper nav nav-pills" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" id="home-tab" (click)="tab('timeline')"
                            [ngClass]="{'active': openTab == 'timeline'}">Yearly</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tabs" (click)="tab('Monthly')"
                            [ngClass]="{'active': openTab == 'Monthly'}">Monthly</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" id="contact-tab" (click)="tab('Weekly')"
                            [ngClass]="{'active': openTab == 'Weekly'}">Weekly</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card-body pb-0">
        <div id="groupBarChart">
            <apx-chart [series]="schoolPerformance.series" [colors]="schoolPerformance.colors"
                [chart]="schoolPerformance.chart" [stroke]="schoolPerformance.stroke" [grid]="schoolPerformance.grid"
                [dataLabels]="schoolPerformance.dataLabels" [tooltip]="schoolPerformance.tooltip"
                [plotOptions]="schoolPerformance.plotOptions" [xaxis]="schoolPerformance.xaxis"
                [yaxis]="schoolPerformance.yaxis" [legend]="schoolPerformance.legend" [fill]="schoolPerformance.fill"
                [responsive]="schoolPerformance.responsive">
            </apx-chart>
        </div>
    </div>
</div>