<div class="card">
  <div class="card-header pb-0 card-no-border">
    <h3>Multiple inputs</h3>
    <p class="mt-1 mb-0">While multiple <code>&lt;input&gt;</code></p>
  </div>
  <div class="card-body common-flex main-custom-form card-wrapper multiple-inputs">
    <div class="input-group"><span class="input-group-text">First and last name</span>
      <input class="form-control" type="text" aria-label="First name">
      <input class="form-control" type="text" aria-label="Last name">
    </div>
    <div class="input-group multi-input"><span class="input-group-text">$</span><span
        class="input-group-text">0.00</span>
      <input class="form-control" type="text" aria-label="Dollar amount (with dot and two decimal places)">
    </div>
    <div class="input-group multi-input-2">
      <input class="form-control" type="text" aria-label="Dollar amount (with dot and two decimal places)"><span
        class="input-group-text">$</span><span class="input-group-text">0.00</span>
    </div>
  </div>
</div>