<div class="card height_equal">
    <div class="card-header">
        <h3>Small Progress Bars</h3>
        <p class="mt-1 mb-0">Use<code> .sm-progress-bar</code> class to set the small size of progress bar.</p>
    </div>
    <div class="card-body progress-showcase progress-b-space">
        <div class="row">
            <div class="col">
                @for(smallprogressitem of smallProgressData; track smallprogressitem){
                <div class="progress sm-progress-bar overflow-visible">
                    <div class="progress-bar-animated small-progressbar bg-primary rounded-pill progress-bar-striped"
                        [ngStyle]="{'width':smallprogressitem.value}" aria-valuenow="30"><span
                            class="txt-primary progress-label">{{smallprogressitem.text}}</span>
                        <span class="animate-circle"></span>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>