<div class="page-wrapper compact-wrapper sidebar-open" id="pageWrapper">
    <app-header></app-header>
    <div class="page-body-wrapper">
        <div class="overlay"></div>
        <aside class="page-sidebar">
            <app-sidebar></app-sidebar>
        </aside>
        <div class="page-body">
            <div class="container-fluid">
                <app-breadcrumb></app-breadcrumb>
            </div>
            <router-outlet></router-outlet>
        </div>
        <app-footer></app-footer>
    </div>
</div>