<div class="card">
    <div class="card-header card-no-border pb-0">
      <h3>Column Grid</h3>
      <p class="mt-1 mt-1 mb-0">Use predefined grid classes using  <code>.col-md-* </code>class to set the grid system.            </p>
    </div>
    <div class="card-body grid-showcase">
      <div class="row">
        <div class="col-md-1 text-center"><span>col-md-1</span></div>
        <div class="col-md-2 text-center"><span>col-md-2</span></div>
        <div class="col-md-2 text-center"><span>col-md-2</span></div>
        <div class="col-md-3 text-center"><span>col-md-3</span></div>
        <div class="col-md-4 text-center"><span>col-md-4 </span></div>
        <div class="col-md-5 text-center"><span>col-md-</span></div>
        <div class="col-md-7 text-center"><span>col-md-7</span></div>
        <div class="col-md-6 text-center"><span>col-md-6</span></div>
        <div class="col-md-6 text-center"><span>col-md-6</span></div>
        <div class="col-md-8 text-center"><span>col-md-8</span></div>
        <div class="col-md-4 text-center"><span>col-md-4</span></div>
        <div class="col-md-9 text-center"><span>col-md-9</span></div>
        <div class="col-md-3 text-center"><span>col-md-3</span></div>
        <div class="col-md-10 text-center"><span>col-md-10</span></div>
        <div class="col-md-2 text-center"><span>col-md-2</span></div>
        <div class="col-md-12 text-center"><span>col-md-12</span></div>
      </div>
    </div>
  </div>