<div class="card">
    <div class="card-header">
        <h3>Borders</h3>
        <p class="mt-1 mb-0">Use border utilities to add or remove an element's borders.</p>
    </div>
    <div class="card-body">
        <div class="row g-3">
            <div class="col-xl-4 col-sm-6">
                <app-common-border-display [data]="Additiveborder"></app-common-border-display>
            </div>
            <div class="col-xl-4 col-sm-6">
                <app-common-border-display [data]="SubtractiveborderData"></app-common-border-display>
            </div>
            <div class="col-xl-4 col-sm-6">
                <app-common-border-display [data]="AdditiveRadiusData"></app-common-border-display>
            </div>
        </div>
    </div>
</div>