<div id="print-section">
  <div class="mail-header-wrapper header-wrapper1">
    <div class="mail-header1">
      <div class="light-square">
        <div class="feather btn-email" (click)="openFilter()">
          <app-feathericon [icon]="'arrow-left'"></app-feathericon>
        </div>
      </div><span>Interview Mail</span>
    </div>
    <div class="mail-body1">
      <div class="light-square">
        <app-feathericon [icon]="'printer'"></app-feathericon>
      </div>
      <div class="light-square" (click)="openmenu()">
        <svg class="feather bookmark-box" [class.active]="active">
          <use href="assets/svg/feather-icons/dist/feather-sprite.svg#bookmark"></use>
        </svg>
      </div>
      <div class="light-square">
        <app-feathericon [icon]="'alert-circle'"></app-feathericon>
      </div>
      <div class="light-square">
        <svg class="feather stroke-danger">
          <use href="assets/svg/feather-icons/dist/feather-sprite.svg#trash-2"></use>
        </svg>
      </div>
      <div class="light-square">
        <app-feathericon [icon]="'settings'"></app-feathericon>
      </div>
    </div>
  </div>
  <div class="mail-body-wrapper">
    <app-user-details></app-user-details>
  </div>
</div>