<div id="print-section">
  <div class="mail-header-wrapper header-wrapper1">
    <div class="mail-header1">
      <div class="light-square">
        <div class="feather btn-email" (click)="openFilter()">
          <app-feather-icon [icon]="'arrow-left'"></app-feather-icon>
        </div>
      </div><span>Interview Mail</span>
    </div>
    <div class="mail-body1">
      <div class="light-square">
        <app-feather-icon [icon]="'printer'"></app-feather-icon>
      </div>
      <div class="light-square">
        <app-feather-icon [icon]="'bookmark'" class="feather bookmark-box"></app-feather-icon>
      </div>
      <div class="light-square">
        <app-feather-icon [icon]="'alert-circle'"></app-feather-icon>
      </div>
      <div class="light-square">
        <app-feather-icon [icon]="'trash-2'" class="stroke-danger"></app-feather-icon>
      </div>
      <div class="light-square">
        <app-feather-icon [icon]="'settings'"></app-feather-icon>
      </div>
    </div>
  </div>
  <div class="mail-body-wrapper">
    <app-user-details></app-user-details>
  </div>
</div>