<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 box-col-12">
            <div class="card gallery-grid">
                <div class="card-header pb-0 card-no-border">
                   <h3>MASONRY GALLERY</h3>
                </div>
                <div class="card-body photoswipe-pb-responsive">
                    <div class="masonry-gallery row grid gallery" gallerize>
                        <ngx-masonry [options]="masonryOptions" [ordered]="true">
                            @for( image of masonryImages; track image ){
                            <figure class="col-md-3 col-sm-6 grid-item" style="width: 355px;" ngxMasonryItem>
                                <img [src]="image[1]" width="100%" class="img-thumbnail">
                            </figure>
                            }
                        </ngx-masonry>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>