<div class="row">
    @for( data of switchData; track data){
    <div class="{{data.class}}">
        @if( data.title == 'Icons switch' ||  data.title == 'Borders with icons' ){
        <div class="card">
            <div class="card-header card-no-border pb-0">
                <h3>{{ data.title}}</h3>
                <p class="desc mb-0 mt-1" [innerHtml]="data.subdes"></p>
            </div>
            <div class="card-body common-flex flex-column switch-wrapper">
                @for( items of data.item; track items){
                <div class="d-flex">
                    <div class="icon-state {{ data.class2}}">
                        <label class="switch mb-0">
                            <input type="checkbox" [checked]="items.value"><span
                                class="switch-state bg-{{items.colorclass}}"></span>
                        </label>
                    </div>
                    <label class="col-form-label ms-3">{{items.text}}</label>
                </div>
                }
            </div>
        </div>
        }@else{
        <div class="card">
            <div class="card-header card-no-border pb-0">
                <h3>{{ data.title}}</h3>
                <p class="desc mb-0 mt-1" [innerHtml]="data.subdes"></p>
            </div>
            <div class="card-body common-flex flex-column switch-wrapper">
                @for( items of data.item; track items){
                <div class="d-flex">
                    <label class="switch mb-0">
                        <input type="checkbox" [checked]="items.value"><span
                            class="switch-state bg-{{items.colorclass}}"></span>
                    </label>
                    <label class="col-form-label ms-3">{{items.text}}</label>
                </div>
                }
            </div>
        </div>
        }
    </div>
    }
</div>