<div class="card avatar-profile-card">
    <div class="card-header card-no-border pb-0">
        <h3>Avatar profile</h3>
        <p class="mb-0 mt-1"> Use icon and images as avatars profile.</p>
    </div>
    <div class="card-body avatar-showcase">
        <div class="avatars">
            <div class="user-img">
                <img src="assets/images/profile.png" alt="user">
                <div class="setting-icon"> 
                    <i class="iconly-Setting icli"> </i>
                </div>
            </div>
            <div class="avatar-intial img-60 bg-light-primary avatar-profile">
                <img src="assets/images/users/6.png" alt="users">
            </div>
        </div>
    </div>
</div>