<div class="container-fluid">
    <div class="row">
        <div class="col-xl-6 col-md-12 box-col-12">
            <app-chartjs-bar-chart></app-chartjs-bar-chart>
        </div>
        <div class="col-xl-6 col-md-12 box-col-12">
            <app-chartjs-line-graph></app-chartjs-line-graph>
        </div>
        <div class="col-xl-6 col-md-12 box-col-12">
            <app-radar-graph></app-radar-graph>
        </div>
        <div class="col-xl-6 col-md-12 box-col-12">
            <app-chartjs-line-chart></app-chartjs-line-chart>
        </div>
        <div class="col-xl-6 col-md-12 box-col-12">
            <app-chartjs-doughnut-chart></app-chartjs-doughnut-chart>
        </div>
        <div class="col-xl-6 col-md-12 box-col-12">
            <app-chartjs-polar-chart></app-chartjs-polar-chart>
        </div>
    </div>
</div>