<div class="card">
    <div class="card-header">
        <h3>Sizing </h3>
        <p class="mt-1 mb-0">Add the relative form sizing classes to the<code> .input-group</code></p>
    </div>
    <div class="card-body card-wrapper input-group-wrapper">
        <div class="input-group input-group-sm"> <span class="input-group-text" id="inputGroup-sizing-sm">Small</span>
            <input class="form-control" type="text" aria-label="Sizing example input">
        </div>
        <div class="input-group"><span class="input-group-text" id="inputGroup-sizing-default">Default</span>
            <input class="form-control" type="text" aria-label="Sizing example input">
        </div>
        <div class="input-group input-group-lg"><span class="input-group-text" id="inputGroup-sizing-lg">Large</span>
            <input class="form-control" type="text" aria-label="Sizing example input">
        </div>
    </div>
</div>