<div class="card">
    <div class="card-header card-no-border pb-0">
        <h3 class="mb-0">Text Color</h3>
        <p class="mt-1 mb-0">You can Give text color by using <code>txt-*</code> class.</p>
    </div>
    <div class="card-body">
        <div class="d-flex flex-column gap-2">
            <p class="text-primary mb-0">This is Primary text You can archive this
                adding<code>.text-primary</code> class.</p>
            <p class="text-secondary mb-0">This is Secondary text You can archive this
                adding<code>.text-secondary</code> class.</p>
            <p class="text-success mb-0">This is Success text You can archive this
                adding<code>.text-success</code> class.</p>
            <p class="text-info mb-0">This is Info text You can archive this adding<code>.text-info</code>
                class.</p>
            <p class="text-warning mb-0">This is Warning text You can archive this
                adding<code>.text-warning</code> class.</p>
            <p class="text-danger mb-0">This is Danger text You can archive this adding<code>.text-danger</code>
                class.</p>
            <p class="text-dark mb-0">This is Dark text You can archive this adding<code>.text-dark</code>
                class.</p>
        </div>
    </div>
</div>