<div class="card">
    <div class="card-header">
        <h3>Unique Sweetalert </h3>
        <p class="mt-1 mb-0">
            Print the informational message.</p>
    </div>
    <div class="card-body">
        <div class="common-flex">
            <button class="btn btn-danger sweet-7" type="button" (click)="danger()">Danger mode</button>
            <button class="btn btn-warning text-light sweet-6" type="button" (click)="animation()">Animation Alert</button>
            <button class="btn btn-primary sweet-14" type="button" (click)="timer()">Timer</button>
        </div>
    </div>
</div>