<div class="card">
    <div class="card-header">
        <h3>Checkboxes and radios</h3>
        <p class="mt-1 mb-0">Place any checkbox or radio option within an input group's addon instead of text. We
            recommend adding </p>
    </div>
    <div class="card-body checkbox-checked card-wrapper input-group-wrapper checkbox-radios">
        <div class="input-group">
            <div class="input-group-text">
                <input class="form-check-input mt-0" type="checkbox" value=""
                    aria-label="Checkbox for following text input">
            </div>
            <input class="form-control" type="text" aria-label="Text input with checkbox">
        </div>
        <div class="input-group">
            <div class="input-group-text">
                <input class="form-check-input mt-0" type="radio" value=""
                    aria-label="Radio button for following text input" checked="">
            </div>
            <input class="form-control" type="text" aria-label="Text input with radio button">
        </div>
    </div>
</div>