<div class="card">
    <div class="card-header">
        <h3>Additional Content </h3>
        <p class="mt-1 mb-0">
          Use the <code>.alert  </code>utility class to quickly provide additional content within any alerts.
        </p>
      </div>
    <div class="card-body dark-alert">
        @for( additionalitem of additionalData; track additionalitem){
        <div class="{{additionalitem.class}}">
            <h3 class="alert-heading pb-2">{{additionalitem.heading}}</h3>
            <p>{{additionalitem.title}}</p>
            <hr>
            <p class="mb-0">{{additionalitem.message}}</p>
        </div>
        }
    </div>
</div>
