<div class="card">
    <div class="card-header card-no-border pb-0">
        <div class="header-top">
            <h3>Total Investment</h3>
            <div class="dropdown icon-dropdown">
                <button class="btn" id="userdropdown5" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i
                        class="fa-solid fa-ellipsis"></i></button>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="userdropdown5"><a class="dropdown-item"
                        href="#">Weekly</a><a class="dropdown-item" href="#">Monthly</a><a class="dropdown-item"
                        href="#">Yearly</a></div>
            </div>
        </div>
    </div>
    <div class="card-body investment-card">
        <div id="investment">
            <apx-chart [series]="InvestmentChart.series" [chart]="InvestmentChart.chart" [colors]="InvestmentChart.colors"
                [plotOptions]="InvestmentChart.plotOptions" [responsive]="InvestmentChart.responsive"
                [labels]="InvestmentChart.labels" [legend]="InvestmentChart.legend">
            </apx-chart>
        </div>
        <ul class="d-flex align-center justify-content-center">
            <li class="text-center">
                <p class="mb-0">Total</p>
                <h6>$45,9760</h6>
            </li>
            <li class="text-center">
                <p class="mb-0">Monthly</p>
                <h6>$12,263</h6>
            </li>
            <li class="text-center">
                <p class="mb-0">Daily</p>
                <h6>$32600</h6>
            </li>
        </ul>
    </div>
</div>
