<div class="card">
  <div class="card-header card-no-border pb-0">
    <h3>Offset</h3>
    <p class="mt-1 mt-1 mb-0">Offset the grid column using <code>.offset-grid </code>class.</p>
  </div>
  <div class="card-body grid-showcase">
    <div class="row g-2">
      <div class="col-sm-5 col-4 offset-sm-3 offset-2"><span>col-5 offset-3</span></div>
      <div class="col-sm-2 col-4 offset-sm-2 offset-1"><span>col-2 offset-2</span></div>
      <div class="col-sm-4 col-5 offset-2"><span>col-4 offset-2</span></div>
      <div class="col-sm-3 col-4 offset-sm-2 offset-1"><span>col-3 offset-2</span></div>
    </div>
  </div>
  <div class="card-footer">
    <div class="table-responsive">
      <table class="w-100 table-borderless">
        <tbody>
          <tr>
            <th class="p-0"> Class</th>
            <th class="p-0">Value of the class</th>
          </tr>
          <tr>
            <td class="p-0"> <code>.offset-*</code></td>
            <td class="p-0"> 1 / 2 / ... / 11 / 12</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>