<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-xl-6 box-col-6">
            <app-radar-chart></app-radar-chart>
        </div>
        <div class="col-sm-12 col-xl-6 box-col-6">
            <app-radial-chart></app-radial-chart>
        </div>
        <div class="col-sm-12 col-xl-12 box-col-12">
            <app-candlestick-chart></app-candlestick-chart>
        </div>
        <div class="col-sm-12 col-xl-6 box-col-6">
            <app-basic-area-chart></app-basic-area-chart>
        </div>
        <div class="col-sm-12 col-xl-6 box-col-6">
            <app-basic-line-chart></app-basic-line-chart>
        </div>
        <div class="col-sm-12 col-xl-6 box-col-6">
        </div>
        <div class="col-sm-12 col-xl-6 box-col-6">
            <app-column-chart></app-column-chart>
        </div>
        <div class="col-sm-12 col-xl-6 box-col-6">
            <app-bubble-chart></app-bubble-chart>
        </div>
        <div class="col-sm-12 col-xl-6 box-col-6">
        </div>
    </div>
</div>
<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-xl-6">
            <app-basic-line-chart></app-basic-line-chart>
        </div>
        <div class="col-xl-6">
            <app-basic-area-chart></app-basic-area-chart>
        </div>
        <div class="col-xl-6">
            <app-dumbbell-chart></app-dumbbell-chart>
        </div>
        <div class="col-xl-6">
            <app-column-chart></app-column-chart>
        </div>
        <div class="col-xl-6">
            <app-mixed-chart></app-mixed-chart>
        </div>
        <div class="col-xl-6">
            <app-pyramid-chart></app-pyramid-chart>
        </div>
        <div class="col-xl-6">
            <app-bubble-chart></app-bubble-chart>
        </div>
        <div class="col-xl-6">
            <app-polar-chart></app-polar-chart>
        </div>
        <div class="col-xl-12">
            <app-candlestick-chart></app-candlestick-chart>
        </div>
        <div class="col-xl-6">
            <app-pie-chart></app-pie-chart>
        </div>
        <div class="col-xl-6">
            <app-dount-chart></app-dount-chart>
        </div>
        <div class="col-xl-6">
            <app-radial-chart></app-radial-chart>
        </div>
        <div class="col-xl-6">
            <app-radar-chart></app-radar-chart>
        </div>
    </div>
</div> -->