<div class="card">
    <div class="card-header pb-0 card-no-border">
        <h3>Input sweetalert</h3>
        <p class="mt-1 mb-0">catch the pokeball..</p>
    </div>
    <div class="card-body">
        <div class="common-flex">
            <button class="btn btn-success sweet-22" type="button" (click)="inputText()">Text Input</button>
            <button class="btn btn-warning text-light sweet-8" type="button" (click)="loginEmail()">Login Email</button>
            <button class="btn btn-info text-light sweet-233" type="button" (click)="url()">URL</button>
            <button class="btn btn-danger sweet-24" type="button" (click)="password()">Password</button>
            <button class="btn btn-warning text-light sweet-25" type="button" (click)="Textarea()">Textarea</button>
            <button class="btn btn-primary sweet-26" type="button" (click)="SelectInput()">Select Input</button>
            <button class="btn btn-secondary sweet-27" type="button" (click)="radio()">Radio Input</button>
            <button class="btn btn-dark sweet-28" type="button" (click)="checkbox()">Checkbox Input</button>
            <button class="btn btn-light font-dark sweet-29" type="button" (click)="range()">Range</button>
        </div>
    </div>
</div>