<div class="card pie-card">
    <div class="card-header card-no-border pb-0">
        <div class="header-top">
            <h3>Time Spent on Learning</h3>
            <div class="dropdown icon-dropdown">
                <button class="btn" id="userdropdown8" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i
                        class="fa-solid fa-ellipsis"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="userdropdown8">
                    <a class="dropdown-item" href="#">Weekly</a>
                    <a class="dropdown-item" href="#">Monthly</a>
                    <a class="dropdown-item" href="#">Yearly</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body revenue-category">
        <div class="pie-chart" id="pie-chart">
            <apx-chart [chart]="learningChart.chart" [colors]="learningChart.colors" [series]="learningChart.series"
                [labels]="learningChart.labels">
            </apx-chart>
        </div>
    </div>
</div>
